.h-1,
.article-content h1,
.who-page>h1 {
  background: #027ab9;
}

.h-2,
.article-content h2,
.who-page>section>h1 {
  background: #3863bb;
}

.site-header .title,
.site-header .who {
  background: #1c49a2;
}

.article-date {
  background: #b8f4ff;
}
